.heading-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading {
  font-size: 40px;
  position: relative;
  z-index: 1;
}

.heading::before {
  border-top: 4px solid #d5d5d5;
  content: '';
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.heading-data {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}
